@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Greendale University is a .NET Web Application that allows users to test functionality 
   such as student admission, course creation, and instructor assignments. The purpose of this
   application is to demonstrate how to use Entitiy Framework Core with ASP.NET Core. Greendale 
   University utilizes the following technology: ASP.NET Core, Entity Framework Core, SQLite, and SQL Server.
   The features included in this application include CRUD operations, Complex Data Models, Database Initializer,
   Validation Rules, Paging and Grouping Functionality, Sorting, and Search Bar Functions. 
</p>
